<div class="content">
    
        <button class="btn btn-primary"> Por Nombre</button>
        <button class="btn btn-secondary">Por Edad</button>
        <br />
        <br />

        <input class="form-control" type="search" placeholder="Buscar..."/>
        <hr />
        <ul>
            <li>Persona</li>
            <li>Persona</li>
            <li>Persona</li>
            <li>Persona</li>
        </ul>

        <form class="formulario">
            <div class="form-group">
                <input placeholder="Nombre" class="form-control" type="text" name="Nombre" />
            </div>
            <div class="form-group">
                <input placeholder="Apellido" class="form-control" type="text" name="Apellido" />
            </div>
            <div class="form-group">
                <input placeholder="Edad" class="form-control" type="number" name="Edad" />
            </div>
            <div class="form-group">
                <input placeholder="Color Favorito" class="form-control" type="text" name="ColorFav" />
            </div>

                <button class="btn btn-success" type="submit" >Agregar</button>
        </form>
   
</div>