
:root {
    --color-principal: #00ADB5;
    --color-base: #303841;
    --color-secundario: #FF5722;
    --color-blanco: #EEEEEE;
}

body {
    display: grid;
    background-color: var(--color-base);
    grid-template-areas: " h h h h h h " " c c c c c c " " c c c c c c " " c c c c c c " " c c c c c c " " f f f f f f ";
    grid-template-columns: repeat(6,1fr);
    /*grid-template-rows: 60px repeat(4, minmax(200px, 1fr)) 80px;*/
    grid-template-rows: 60px repeat(4, 1fr) 80px;
}

header {
    grid-area: h;
}

footer {
    grid-area: f;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: var(--color-secundario);
    height: 80px;
    font-size: 18px;
    font-weight: 400;
}

.menu {
    display: flex;
    list-style: none;
    background-color: var(--color-principal);
    height: 60px;
    font-size: 18pt;
    font-weight: 500;
}

    .menu > li {
        width: 200px;
        justify-content: center;
        align-self: center;
    }

        .menu > li:nth-child(4) {
            margin-left: auto;
            display: flex;
            justify-content: center;
        }

        .menu > li > a {
            color: var(--color-base);
            text-decoration: none;
        }

        .menu > li :hover {
            color: var(--color-blanco);
        }

.main-content {
    margin: 25px auto;
    grid-area: c;
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    background-color: var(--color-base);
    color: var(--color-base);
    font-size: 18px;
    font-weight: 400;
}

    .main-content > .content {
        justify-content: center;
        background-color: var(--color-blanco);
        padding: 50px 20px;
        margin: 0 auto;
        border-radius: 15px;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.80);
        width: 500px;
    }

.content > ul {
    list-style: none;
}

.form-control {
    margin: 0 auto;
    width: 100%;
}

.content > input[type=search] {
    margin: 0 auto;
}

.formulario > button[type=submit] {
    width: 120px;
    display: block;
    margin: 0 auto;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--color-principal) !important;
    border-color: var(--color-principal) !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: var(--color-secundario) !important;
    border-color: var(--color-secundario) !important;
}

.botones {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .botones > button {
        margin: 0 10px;
    }

    .botones > .fa-address-book {
        margin-right: auto;
    }

.attr{
    margin: 0 5px;
}

.remove{
    color: var(--color-secundario);
}

.remove:hover{
    cursor:pointer;
}

.has-error {
    color: #f54d4d;
}
    .has-error input {
        border-color: #f54d4d;
    }
        .has-error input:focus {
            border-color: #f54d4d;
            box-shadow: 0 1px 1px #f54d4d inset, 0 0 8px #f54d4d;
        }